[user]
	name = Steve Ellis
	email = email@steveell.is
	signingkey = 11F522D41A1EC9CE318ED029E51F53FE9C9DE9B6

[core]
  excludesfile = ~/.gitignore_global
  editor = vim

[alias]
  amend = commit --amend --reuse-message=HEAD
  br = branch
  ci = commit
  co = checkout
  g = grep --break --heading --line-number
  p = push
  show-ignored = "! git clean -ndX | perl -pe 's/Would remove/Ignored:/'"
  st = status

[credential]
  helper = osxkeychain
[include]
  path = /Users/steve/.git-together
[git-together]
  active = se
[git-together "user"]
  name = Steve Ellis
[commit]
  gpgsign = true
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
[pull]
  rebase = true
